@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-main: #18181b;
    --color-second: #a3e635;
    --color-halfWhite: #f3f4f6;
    --font-mono: 'Space Mono', monospace;
}