@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-main: #0a0a0a;
    --color-second: #ccff00;
    --font-mono: 'Space Mono', monospace;
}