@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --font-sans: var(--font-space-mono), monospace;
    --font-mono: var(--font-space-mono), monospace;

    --color-main: #0a0a0a;
    --color-second: #9ae600;
    --color-halfWhite: #f3f4f6;
}

body {
  font-family: var(--font-space-mono), monospace;
}

.stroke-text {
  -webkit-text-stroke: 2px var(--color-second);
  -webkit-text-fill-color: transparent;
  paint-order: stroke fill;
}